* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1em;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 3%;
  background: linear-gradient(66deg, #e38010, #1535bf);
 
}

.slider-body-wrap {
  max-width: 80%;
  margin: auto;
  overflow: hidden; 
}

.slides {
  max-width: 400%;
  display: flex;
  transition: transform 0.5s ease-in-out;  
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide_img {
  width: 100%;
  border-radius: 1.5625rem;  
  transition: 0.5s ease-in-out;
}

.text-for-slides {
  display: flex;
  width: 400%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out; 
}

.slide-text {
  display: block;
  width: 100%;
  /* transform: translateY(-350%); */
}

.slide-text p {
  font-size: 1.25rem;
  font-weight: 400;
  color: aliceblue;
}

.paginationBtns {
  display: flex;
  max-width: 15%;
  justify-content: space-between;
  transform: translateX(550%);
}

input {
  display: none;
}

.btn {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.1875rem solid #28325d;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  border: none;
  background-color: #6d77a5;
}

.btn:checked {
  background-color:#28325d;
}

#slide_1:checked ~ .slides {
  transform: translateX(0%);
}

#slide_2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide_3:checked ~ .slides {
  transform: translateX(-200%);
}

#slide_4:checked ~ .slides {
  transform: translateX(-300%);
}


#slide_1:checked ~ .text-for-slides {
  transform: translateX(0%);
}

#slide_2:checked ~ .text-for-slides {
  transform: translateX(-25%);
}

#slide_3:checked ~ .text-for-slides {
  transform: translateX(-50%);
}

#slide_4:checked ~ .text-for-slides {
  transform: translateX(-75%);
}