* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1em;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 3%;
  background: linear-gradient(66deg, #e38010, #1535bf);
 
}

.slider-body-wrap {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  overflow: hidden; 
}

.slides {
  max-width: 400%;
  display: flex;
  transition: transform 0.5s ease-in-out;  
}

.slide {
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 1.25em;
}

.slide_img {
  width: 100%;
  max-height: 26.875rem;
  border-radius: 1.5625rem;  
  transition: 0.5s ease-in-out;
  object-fit: cover;
}

.text-for-slides {
  display: flex;
  overflow: hidden;
  transition: transform 0.8s ease-in; 
  margin-bottom: 20px;
  margin-top: -19px;
  max-width: 80%;
}

.slide-text {
  display: block;
  transition: 0.8s ease;
  opacity: 0;
  order: 1;
}

.slide-text p {
  font-size: 1.25rem;
  font-weight: 400;
  color: aliceblue;
}

.paginationBtns {
  display: flex;
  max-width: 15%;
  justify-content: space-between;
  transform: translateX(550%);
}

input {
  display: none;
}

.btn {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.1875rem solid #28325d;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  border: none;
  background-color: #6d77a5;
}

.btn:checked {
  background-color:#28325d;
}

#slide_1:checked ~ .slides {
  transform: translateX(0%);
}

#slide_2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide_3:checked ~ .slides {
  transform: translateX(-200%);
}

#slide_4:checked ~ .slides {
  transform: translateX(-300%);
}


#slide_1:checked ~ .text-for-slides .text-slide-1 {
  transform: translateX(0%);
  opacity: 100;
  /* order: 0; */
}

#slide_2:checked ~ .text-for-slides .text-slide-2 {
  transform: translateX(-130%);
  opacity: 100;
  /* order: 0; */
}

#slide_3:checked ~ .text-for-slides .text-slide-3 {
  transform: translateX(-130%);
  opacity: 100;
  /* order: 0; */
}

#slide_4:checked ~ .text-for-slides .text-slide-4 {
  transform: translateX(-250%);
  opacity: 100;
  /* order: 0; */
}
  
@media (max-width: 768px) {
  .paginationBtns {
    max-width: 20%;
    transform: translateX(400%);
  }
}

@media (max-width: 567px) {
  .paginationBtns {
    max-width: 100%;
    justify-content: center;
    transform: translateX(0%);
    display: flex;
  }

  .btn {
    margin-right: 1rem;
  }

  .btn:last-child {
    margin-right: -1rem;
  }

  .slide {
    margin-bottom: 0.5rem;
  }

  .text-for-slides {
    margin-top: 1.25rem;
    max-width: 100%;
  }
}